h2 {
    font-size: 40px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

tr, td, th {
    border: 1px solid black;
}

.warning-text {
    color: red;
}

.tables-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.first-column-header {
    width: 60%;
}

.second-column-header {
    width: 40%;
}
